<h1 class="text-center mt-5">
    {{title}} 💬
</h1>

<div class="list-group messageSection">
    {{#each messages}}

    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-primary">{{user}} <span class="text-muted">says..</span></h5>
            <small class="text-muted">{{added}}</small>
        </div>
        <p class="mb-1">{{text}}</p>
        <small class="text-muted"><strong>Note:</strong> This is not stored in DB</small>
    </div>
    {{/each}}
    <a href="/create-message" style="text-decoration: none;">
        <button type="button" class="btn btn-primary mt-3 btn-block">Create new message</button>
    </a>
</div>