<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info site | Home</title>
</head>

<body style="font-family: sans-serif;">

    <div class="main-content">
        <h1>Home page</h1>

        <header>
            <a href="/about">About page</a>
            <a href="/contact">Help page</a>
        </header>
        <p>Created this site to practice <span style="color: #3E863D; font-weight: bold;">Node JS</span></p>

    </div>
    <p>Wanna test 404 page? <a href="/nothere">Click here 🖱️</a></p>

    <footer>
        <p>Created by Nithish kumar</p>
    </footer>
</body>

</html>